<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--VIEWPORT-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/descripcionproducto.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/nav-footer.css">
    <title>home</title>
</head>

<body>
  <header class="shadow">
  
    <nav class="navbar navbar-expand-lg">
     
        <div class="container-fluid">
          <img src="images/logo-waves.png" alt="logo" class="logo">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#conciertos">Conciertos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#teatro">Teatro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#deportes">Deportes</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link login" href="/login">Ingresar</a>
              </li>
            <li class="nav-item login">
              <a class="nav-link" href="/registrarse?">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="" href="/cart"> <i class="bi bi-cart icono-carrito"></i> </a>
            </li>
          </ul> 
          </div>              
        </div>            
      </nav>
  
       <!--BUSCADOR-->
      <div id="buscar" class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <form role="search" ><button class="btn btn-outline-success btn-buscar" type="submit"><i class="bi bi-search"></i></button>           
        </form>
    </div>                 
  </header>

        <!--SLIDER-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="images/slide1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="images/slide2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="images/slide3.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">ANTERIOR</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">SIGUIENTE</span>
          </a>
        </div>
      
        <div class="container text-center ">
          <div class="row shadow">
              <!-- imagen producto -->
            <div class="col-sm-6 caja">
              <img src="images/gorillaz.jpg" alt="" class = "imagen">
            </div>
            <!-- descripcion del producto -->
            <div class="col-sm-6 caja">
            <br>
              <h1>GORILLAZ</h1>
              <br>
              <p>descripcion del evento descripcion del evento descripcion del evento descripcion del evento descripcion del evento
                  descripcion del evento descripcion del evento descripcion del evento descripcion del evento</p>
                  <h3>Fechas</h3>

                  <div class="col-sm-12 caja">
                    <select name="fechas" id="fechas">
                        <option value="r">12/07/2022</option>
                        <option value="a">13/07/2022</option>
                        <option value="v">14/07/2022</option>
                      </select>
                  </div>
                    <br>
                    <br>
                  <button type="button" class="btn btn-warning ">Comprar</button>
                  <br>
                  <br>
                  <div class="col-sm-12 caja" >
                    <img src="images/mapa.jpg" alt="" class = "imagenlocacion">
                  </div>
                  
            </div>
          </div>
          <div class="row">
              <!-- mapa -->
            <div class="col-sm-6 caja">
             
            </div>
            <!-- boton comprar -->
            <div class="col-sm-6">
            </div>
          </div>
        </div>
        
      
<!-- FOOTER -->
<footer class="container-fluid shadow" id="footdiv">
  <div class="col-md-9 text-center justify-content-center mx-auto mt-3">
    <div class="pb-4 fs-5">
      <span class="mx-3"><a href="#">Sobre nosotros</a></span>
      <span class="mx-3"><a href="#">Publicá tu evento</a></span>
      <span class="mx-3"><a href="#">Preguntas frecuentes</a></span>
      <span class="mx-3"><a href="#">Legal</a></span>
      <span class="mx-3"><a href="#">Contacto</a></span>
    </div>
    <div class="footer-site-logo mb-4">
      <img src="/images/logo-waves.png" style="width: 5em;" class="mb-2">
    </div>
    <div class="social mb-4">
  <a href="#"><i class="bi bi-instagram m-2"></i></a>
  <a href="#"><i class="bi bi-facebook m-2"></i></a>
  <a href="#"><i class="bi bi-twitter m-2"></i></a>
  <a href="#"><i class="bi bi-envelope m-2"></i></a>

    </div>
    <div class="copyright">
    <p class="mb-0 pb-0"><small>Copyright © 2025 Cardcopy Soluciones Digitales.</small></p>
    </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>


</html>

