<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--VIEWPORT-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BOOTSTRAP CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/nav-footer.css">
    <title>home</title>
</head>

<header class="shadow">
  <nav class="navbar navbar-expand-lg">
   
      <div class="container-fluid">
        <a href="/">
          <img src="images/logo-waves.png" alt="logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#conciertos">Conciertos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#teatro">Teatro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#deportes">Deportes</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link login" href="/login">Ingresar</a>
            </li>
          <li class="nav-item login">
            <a class="nav-link" href="/registrarse?">Registrarse</a>
          </li>
          <li class="nav-item">
            <a class="" href="/cart"> <i class="bi bi-cart icono-carrito"></i> </a>
          </li>
        </ul> 
        </div>              
      </div>            
    </nav>

     <!--BUSCADOR-->
    <div id="buscar" class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
      <form role="search" ><button class="btn btn-outline-success btn-buscar" type="submit"><i class="bi bi-search"></i></button>           
      </form>
  </div>                 
</header>

<body>
  <!--SLIDER-->
  <div id="carouselExampleIndicators" class="carousel slide shadow" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="images/slide1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="images/slide2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="images/slide3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
    </a>
  </div>
  <!-- TARJETAS -->

  <div class="tarj-container">
    <h3 class="categoria-title">Más vendidos:</h3>
    <div class="tarjetas">
      <div>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top container" src="images/evento-2.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ROMBAI </h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 28 de octubre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top container" src="images/gorillaz.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">GORILLAZ </h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 2 de diciembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <h3 class="categoria-title" id="conciertos">Conciertos:</h3>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <h3 class="categoria-title" id="teatro">Teatro:</h3>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <h3 class="categoria-title" id="deportes">Deportes:</h3>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
        <a href="/descripcion">
          <div class="card shadow" >
            <img class="card-img-top" src="images/evento-1.png"Card image cap">
            <div class="card-body">
              <h5 class="card-title">NICKI NICOLE | BIZARRAP</h5>
              <p class="card-text"><i class="bi bi-calendar4-event p-1"></i> 5 | 6 de noviembre </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
  <!-- FOOTER -->
  <footer class="container-fluid shadow" id="footdiv">
    <div class="col-md-9 text-center justify-content-center mx-auto mt-3">
      <div class="pb-4 fs-5">
        <span class="mx-3"><a href="#">Sobre nosotros</a></span>
        <span class="mx-3"><a href="#">Publicá tu evento</a></span>
        <span class="mx-3"><a href="#">Preguntas frecuentes</a></span>
        <span class="mx-3"><a href="#">Legal</a></span>
        <span class="mx-3"><a href="#">Contacto</a></span>
      </div>
      <div class="footer-site-logo mb-4">
        <img src="/images/logo-waves.png" style="width: 4.5em;" class="mb-2">
      </div>
      <div class="social mb-4">
        <a href="#"><i class="bi bi-instagram m-2"></i></a>
        <a href="#"><i class="bi bi-facebook m-2"></i></a>
        <a href="#"><i class="bi bi-twitter m-2"></i></a>
        <a href="#"><i class="bi bi-envelope m-2"></i></a>
      </div>
      <div class="copyright">
        <p class="mb-0 pb-0"><small>Copyright © 2025 Cardcopy Soluciones Digitales.</small></p>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>